#wrap {
  border: 1px solid black;
  margin: auto;
  width: 800px;
}

#title {
  border: 1px solid red;
  background-image: url(header.jpg);
  margin: 15px;
  width: 770px;
  height: 210px;
  background-repeat: no-repeat;
}

#title h1 {
  text-shadow: 2px 2px 8px yellow;
  position: relative;
  left: 25px;
  width: 700px;
  margin: 15px 30px 15px 15px;
}

#menu {
  border: 2px solid green;
  width: 150px;
  display: inline-block;
  position: relative;
  left: 15px;
  float: left;
  /* margin-right: 10px; */
}

#menu h4 {
  border: 1px solid blue;
  padding: 5px;
  margin: 0px;
  text-align: center;
  color: white;
  background-color: blue;
}

#menu ul {
  display: contents;
  border: 1px solid gold;
  list-style-type: none;
  margin: 0px;
}

#menu ul li {
  padding: 5px;
  text-align: left;
}

#content {
  display: block;
  border: 1px solid green;
  width: 600px;
  position: relative;
  left: 185px;
}

#content h4 {
  border: 1px solid orange;
  color: blue;
  text-align: right;
  margin-top: 0;
  padding: 10px;
  display: inline-block;
}

#content p {
  margin-left: 0px;
  text-align: left;
}