* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

#wrap {
	border: 1px solid black;
	width: 800px;
	margin: 0 auto;
	padding: 5px;
  background-color: rgb(59, 117, 101);
}

#title {
	border: 1px solid red;
	background-image: url(banner.jpg);
  width: fixed;
  height: 140px;
  background-repeat: no-repeat;
}

#title h1{
	text-align: center;
	position: relative;
	top: 40px;
	color: yellow;
	font-size: 50px;
	text-shadow: 5px 5px 5px black;
}

#menu {
/* 	border: 2px solid green; */
	width: fixed;
}

#menu ul {
	list-style-type: none;
}

#menu ul li {
	  float: left;
    position: relative;
    display: block;
}

#menu ul li a {
    display: block;
	  color: yellow;
    text-align: center;
    padding: 5px 77px; 
    background-color: black;
    text-decoration: none;
    border: 1px dashed yellow;
}


#menu ul li ul {
    display: none;
    position: absolute;  
}

#menu ul li ul li a {
    display: block;
    text-align: center;
    padding: 3px 50px;
    color: yellow;
    background-color: black;
    text-decoration: none;
    border: 1px dashed yellow;
}

#menu ul li ul li a:hover {
    color: black;
    background-color: #f1f1f1;
}

#menu ul li:hover ul {
    display: block;
}

#content {
	margin-top: 35px;
  padding: 10px;
}

#content h4 {
	color: yellow;
	font-size: 20px;
	text-decoration-line: underline;
  text-decoration-style: dotted;
}

#content p {
	line-height: 1.8;
	font-size: 18px;
}

#content ul {
	position: relative;
	left: 50px;
}

#content a {
		font-size: 18px;
	   color: white;
}

#footer {
	margin-top: 10px;
    padding: 20px;
    border-top: 2px dotted black;
    text-align: center;
}